* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  background-color: #5571ef;
  border-radius: 0.5rem;
  border: 1px solid #5571ef;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

input::-webkit-file-upload-button {
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid #5571ef;
  color: #5571ef;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

button:disabled {
  background-color: #b7d0f3;
  border: 1px solid #b7d0f3;
  color: #19181b;
  cursor: not-allowed;
  opacity: 0.8;
}

.h-screen {
  height: 100vh !important;
}

.center {
  display: grid !important;
  place-items: center !important;
}

.hidden {
  display: none !important;
}

.upload-container,
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.upload-container {
  background-color: #e1ebf57a;
  border-radius: 0.625rem;
  border-style: dashed;
  border: 2px solid #b7d0f3;
  color: #19181b;
  padding: 2rem;
  width: 30rem;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.file-input {
  min-width: 21rem;
}

.upload-button {
  background-color: #5571ef;
  border-radius: 0.5rem;
  border: 1px solid #5571ef;
  color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.result-container {
  display: flex;
  align-self: flex-start;
  background-color: #e1ebf57a;
  border-radius: 0.625rem;
  color: #19181b;
  padding: 2rem;
  width: max-content;
  min-height: 14rem;
  min-width: 30rem;
}